<br>

<div class="row">
        <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                          <img src="/assets/img/perroico.jpg" class="card-img-top" alt="">
                  </div>
                </div>
              </div>
    <div class="col-sm-6">
      <div id="card">
        <div class="card-body">
          <h1 class="card-title">Facepet Web</h1>
          <p class="card-text">Esta es una aplicacion para encontrar mascotas.</p>
          <hr class="my-4">
          <p>Todavia no tienes cuenta?</p>
          <a href="#" class="btn btn-primary">Registrate</a>
        </div>
      </div>
    </div>
  </div>