<h2>Ciudades</h2>

<div class="box-body">

  <div class="box-header with-border right">
  
    <button class="btn btn-success" routerLink="/ciudades-nuevo" data-toggle="modal" data-target="">
    
      
      Agregar ciudad

    </button>

  </div>
  <br>

 <table class="table table-bordered table-striped dt-responsive tablas">

   <thead>

     <tr>

       <th style="width:10px">Id</th>
       <th>Nombre</th>
       <th>Imagen</th>
       <th>Estado</th>
       <th>Acciones</th>

     </tr>

   </thead>

   <tbody *ngFor="let ciudad of ciudades">

     <tr>
       <td>{{ciudad.id}}</td>
       <td>{{ciudad.nombre}}</td>
       <td><img src={{ciudad.imagenUrl}} class="img-thumbnail" width="40px"></td>
       <td> {{ciudad.activo == 0 ? "Desactivado": "Activado" }}
       </td>
       <td>

          <div class="btn-group">

              <button [routerLink]="['/ciudades-editar', ciudad.id]" routerLinkActive="router-link-active"  class="btn btn-warning" ><i class="fa fa-pencil"></i></button>
         

              <button class="btn btn-danger" ng-really-message="Are you sure?" (click)="borrarCiudad(ciudad.id)" ><i class="fa fa-times"></i></button>

          </div>

      </td>
     </tr>


   </tbody>

 </table>

<div *ngIf="(ciudades  ).length === 0"
 class="alert alert-info" role="alert">
 <strong>No hay</strong> registros que mostrar
</div>