<h2>Ciudades</h2>

<div class="box-body">

 <table class="table table-bordered table-striped dt-responsive tablas">

   <thead>

     <tr>

       <th style="width:10px">Id</th>
       <th>Nombre</th>
       <th>Imagen</th>
       <th>Estado</th>

     </tr>

   </thead>

   <tbody *ngFor="let ciudad of ciudades">

     <tr>
       <td>{{ciudad.id}}</td>
       <td>{{ciudad.nombre}}</td>
       <td><img src={{ciudad.imagenUrl}} class="img-thumbnail" width="40px"></td>
       <td>{{ciudad.activo}}</td>

     </tr>


   </tbody>

 </table>

</div>