/* You can add global styles to this file, and also import other style files */
.jumbotron {
    margin-bottom: 5px;
    text-align: center;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    text-shadow: black 0.1em 0.1em 0.1em;
   
}
#contenedor{
  
    text-align: left;
   
    margin: auto;}
    
    #lateral{
    margin-left: 10px; 
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    text-shadow: black 0.3em 0.3em 0.3em;
    width: 500px;
    height: 400px;  /*Este será el ancho que tendrá tu columna*/
    background-color:burlywood;
    background-image: url(/gatos.jpg);  /*Aquí pon el color del fondo que quieras para este lateral*/
    float:left; /*Aqui determinas de lado quieres quede esta "columna" */
    }
    
    #principal{
    margin-left:190px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
    background-color: #FFFFFF;
    border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
    
    }