.body {
    background-color: firebrick;
}


#card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e9ecef;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    
}
.card {
    border: 0px solid rgba(0,0,0,.125); 
}
hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 354px;
    height: 280px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.flotante {
    display:scroll;
        position: fixed;
        top: 100%;
        bottom:320px;
        right:1px;
        top: 90%;
        width: 60px;
}

