<div class="container">
       
        <div class="row mt-1 ml-1">
            <div class="col-md-7" >
                    <div class="jumbotron">
    
                            <div class="container">
                                <h1 class="display-4">Bienvenidos a Facepet Web</h1>
                                <p class="lead">Esta es una aplicacion para encontrar mascotas.</p>
                                <hr class="my-4">
                                <p>Todavia no tienes cuenta?</p>
                                <a class="btn btn-primary btn-lg" routerLink="/usuarios" routerLinkActive="active" role="button">Registrese</a>
                          
                             
                            </div>
                          </div>
          
            </div>
            <div class="col-md-5">
                   <div class="card">
                      <div class="card-body">
                       
                            
                      </div>
                   </div>
        </div>
    </div>
    



 
